<div class="banner justify-content-center">
  <div class="banner-content justify-content-center align-items-center">
    <h3>Have a favorite ingredient?</h3>
    <form class="form-inline my-2 my-lg-0 align-middle" action="search">
      <input class="form-control form-input-background form-control-lg mr-sm-2" id="banner-typed-text" type="search" name="q" placeholder="" data-ingredients="<%= @animated_ingredients.to_json %>">
      <button class="btn btn-outline-secondary btn-lg my-2 my-sm-0" type="submit">Search</button>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>
</div>

<div class="container">
  <h1 class="mt-5">Your Cocktails</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail|  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h3 class="mt-5"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
    <% end %>
  </div>
</div>
