.doses-box {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  .card-category {
    flex: 0 0 auto;
    margin-right: 3px;
    width: 320px;
  }
}
