<div class="my-navbar navbar nav-wrapper sticky-top navbar-expand navbar-light">
  <div class="navbar-brand text-light"><%= link_to "Your Cocktails", root_path, class: "nav-link text-light" %></div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Add a Cocktail", new_cocktail_path, class: "nav-link text-light" %>
      </li>
    </ul>
  </div>
</div>
