.navbar-dark {
  background-color: black;
  transition: 0.3s;
}

.navbar-transparent {
  background-color: transparent;
  transition: 0.3s;
}

.modal-backdrop {
  z-index: -1;
}

.modal {
  color: $purple;
}
